  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">


<div class="btn-group btn-group-lg">
         <%= link_to 'Back to map',markers_path, class:"btn btn-lg btn-info", title: 'Back'%>
        <%= link_to 'Add marker', new_marker_path, class:"btn btn-lg btn-primary", title: 'Add'%>
</div>




      </div>
    </div>
  </nav>



<table>
<table class = "table table-bordered table-striped table-hover .table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Name</th>
      <th>Address</th>
      <th>Year</th>
      <th>Description</th>
      <th></th>
      <th></th>



      <tr></tr>
      <tr></tr>
      <tr></th>
      <tr></th>
      <tr></th>
      <tr></tr>
        <tr></tr>
        <tr></tr>

  </thead>
  <!--  ....................................................... -->
  <!-- Table content .......................................... -->
  <tbody>
    <% @list_markers.each do |marker| %>
      <tr>
        <td><%= marker.id %></td>
        <td><%= marker.lat %></td>
        <td><%= marker.lng %></td>
        <td><%= marker.name %></td>
        <td><%= marker.address %></td>
        <td><%= marker.year %></td>
        <td><%= marker.about %></td>

        <td><%= link_to 'Edit', edit_marker_path(marker),class:"btn btn-sm btn-warning"%></td>
        <td><%= link_to 'Delete', marker_path(marker),class:"btn btn-sm btn-danger",
                                  method: :delete,
                                  data: {confirm: 'Are you sure ?'} %></td>





      </tr>
    <% end %>


  </tbody>
  <!--  ....................................................... -->
</table>


<!--  Data pagination -->
<div class="center-div">
<%= will_paginate @list_markers%>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
