<h2>
  <center>Edit Marker</center>
</h2>

  <%= form_for(@marker) do |f| %>

<!--Display of error messages-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <% if @marker.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@marker.errors.count, "error") %> prohibited
        this marker from being saved:
      </h2>
      <ul>
        <% @marker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- Edit page layout-->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="center jumbotron">
<div class="row">
  <div class="col-md-6 col-md-offset-3">

<form>
    <div class="field form-group">
    <%=f.label :Latitude , class: 'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%=f.text_field :lat,  class: 'form-control' %>
    </div>
    </div>
    <br>

    <div class="field form-group">
    <%=f.label :Longitude , class: 'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%=f.text_field :lng,  class: 'form-control' %>
    </div>
    </div>
    <br>

    <div class="field form-group">
    <%=f.label :Name , class: 'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%=f.text_field :name,  class: 'form-control' %>
    </div>
    </div>
    <br>


    <div class="field form-group">
    <%=f.label :ImageLink , class: 'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%=f.text_field :avatar,  class: 'form-control' %>
    </div>
    </div>
    <br>


    <div class="field form-group">
    <%=f.label :Website , class: 'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%=f.text_field :website,  class: 'form-control' %>
    </div>
    </div>
    <br>


    <div class="field form-group">
    <%=f.label :Address, class: 'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%=f.text_field :address,  class: 'form-control' %>
    </div>
    </div>
    <br>

    <div class="field form-group">
    <%=f.label :Description , class: 'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%=f.text_area :about,  class: 'form-control' %>
    </div>
    </div>
    <br>

    <div class="field form-group">
    <%=f.label :Year , class: 'col-sm-2 control-label'%>
    <div class="col-sm-10">
    <%=f.text_field :year,  class: 'form-control' %>
    </div>
    </div>
    <br>
    <br>


            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary btn-lg" type="submit">Edit</button>

                <%= link_to 'Back', '/all', class:"btn btn-lg btn-warning",
                  title: 'Back to markers', 'data-toggle' => 'tooltip', 'data-placement' => 'right'%>
            </div>



    <% end %>
  </div>
</div>





</form>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
